<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
           "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CAO/CDO Scoring Pages</title>
    <link rel="stylesheet" type="text/css" href="tourney-score.css">
  </head>
  <body class="page_back">
    <div class="page information">

      <div class="toplinks">
        <a href="http://crawl.akrasiac.org/scoring/overview.html">Overview</a>
        &nbsp;
        <a href="http://crawl.akrasiac.org/scoring/best-players-total-score.html">Players</a>
        &nbsp;
        <a href="http://crawl.akrasiac.org/scoring/index.html">ToC</a>
        &nbsp;
        <a href="http://crawl.akrasiac.org">crawl.akrasiac.org</a>
      </div>

      <div class="page_content">
        <h2>CAO/CDO Scoring Pages</h2>

        <div class="content">

          <p style="max-width: 500px">
            The new scoring pages are work in progress. If you have
            suggestions or want to report problems, please contact
            rax on Freenode IRC channel ##crawl.
          </p>

          <ul>
            <li><a href="overview.html">Scoring Overview</a></li>
            <li><a href="best-players-total-score.html">Top Players</a></li>
            <li><a href="top-N.html">Top Scores</a></li>
            <li>
              <a href="fastest-wins-time.html">Fastest Wins (real time)</a>
            </li>
            <li>
              <a href="fastest-wins-turns.html">Fastest Wins (turn count)</a>
            </li>
            <li>
              <a href="winners.html">Winner Stats</a>
            </li>
            <li>
              <a href="killers.html">Top Killers</a>
            </li>
            <li>
              <a href="gkills.html">Ghost Kills</a>
            </li>
            <li>
              <a href="recent.html">Recent Activity</a>
            </li>
            <li><a href="combo-scoreboard.html">Combo Standings</a></li>
            <li><a href="top-combo-scores.html">Combo Scores</a></li>
          </ul>
        </div> <!-- Content -->
      </div>
    </div>
  </body>
</html>
